# IDE directory
.idea/
.vscode/

# Python virtualenv directory
load_script/src/.venv/
load_script/src/__pycache__/

# Not upload test result 
load_script/results/

# Helm charts
helm_charts/

# Kubernetes install dir
kubernetes_install/
