# IDE directory
.idea/
.vscode/

# Python virtualenv directory
python_scripts/load_script/.venv/
python_scripts/load_script/__pycache__/

# Not upload test result 
python_scripts/results/
python_scripts/load_script/*.json

# Helm charts
helm_charts/

# Kubernetes install dir
kubernetes_install/
